<nav class="header container-fluid py-3">
    <div class="col-12 d-flex justify-content-around text-uppercase">
        <div class="nav-logo col-1">
            <a href="#"><img src="https://gumlet.assettype.com/afaqs/2021-01/15f5f827-8e29-4520-af8d-a0f353b8da17/images.png?auto=format,compress&w=1200" alt="NavLogo"></a>
        </div>
        <div class="nav-menu col-5 d-flex justify-content-around mt-3">
            <a href="#">men</a>
            <a href="#">women</a>
            <a href="#">kids</a>
            <a href="#">home & living</a>
            <a href="#">beauty</a>
            <a href="#">studio <sup class="text-secondary">new</sup></a>
        </div>
        <div class="searchbar col-2 d-flex align-items-center ">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Search for products,brands and more" />  
        </div>
        <div class="icons col-2 d-flex justify-content-around mt-3">
            <a [routerLink]="['/login']"><i class="far fa-user-circle"></i>Profile</a>
            <a href="#"> <i class="far fa-heart"></i> Wishlist</a>
            <a href="#"> <i class="fas fa-shopping-bag"></i> Bag</a>
        </div>
    </div>    
</nav>
