<section class="main container-fluid">
    <div class="img-1">
        <a href="#"><img class="img-fluid" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/18/599be246-ddbb-41ff-b43e-7e323063178c1692351864240-FLAT-300-Off.jpg" alt="deals-img"></a>
    </div>
    <div class="img-2 d-flex">
        <a href="#"><img class="img-fluid" src="https://assets.myntassets.com/w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/16/9eeab2cf-897e-461d-b74b-580b92644c501692178741037-Home-Page_01.jpg" alt="him-pic"></a>
        <a href="#"><img class="img-fluid" src="https://assets.myntassets.com/w_490,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/16/3139be38-69af-43e1-a56d-99e3d3298ee21692178741021-Home-Page_02.jpg" alt="her-pic"></a>
    </div>
</section>
